@using Microsoft.AspNet.Identity
@model OkFood.Models.ChangePasswordViewModel




@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "col s9", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Form Change Password <strong>@User.Identity.GetUserName()</strong></h4>
    @Html.ValidationSummary()
    <div class="input-field col s9">
        @Html.LabelFor(m => m.OldPassword)
            @Html.PasswordFor(m => m.OldPassword)
    </div>
    <div class="input-field col s9">
        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword)
    </div>
    <div class="input-field col s9">
        @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword)
    </div>

    <div class="input-field col s9">
            <input type="submit" value="Change password" class="btn btn-default" />
    </div>
}