@model IEnumerable<OkFood.Domain.Model.Entities.BankCard>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="bordered highlight">
    <thead>
        <tr>
            <th data-field="price">@Html.DisplayNameFor(model => model.BankCardNumber)</th>
            <th data-field="price">@Html.DisplayNameFor(model => model.Currency)</th>
            <th data-field="price">@Html.DisplayNameFor(model => model.Activity)</th>
            <th data-field="price">@Html.DisplayNameFor(model => model.DateAdd)</th>
            <th data-field="price">@Html.DisplayNameFor(model => model.DateUpdate)</th>
            <th data-field="price">@Html.DisplayNameFor(model => model.BankCardBalance)</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tbody>
            <tr class="row">
                <td>@item.BankCardNumber</td>
                <td>@item.Currency</td>
                <td>@item.Activity</td>
                <td>@item.DateAdd</td>
                <td>@item.DateUpdate</td>
                <td>@item.BankCardBalance</td>
            </tr>
        </tbody>
    }
</table>
